In [20]:
from scripts.analyze_python_chars import count_chars, chars_as_frame
from pathlib import Path

counts = count_chars(Path.home() / "Code")
chars_as_frame(counts).style